    body {
      background-color: lightblue;
      font-family: sans-serif;
    }
    h1 {
      color: navy;
      font-family: Arial, sans-serif;
      font-size: 24px;
    }

      .button:hover {
       background-color: #0056b3; /* Более темный синий */
    }
